@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html, body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  background-color: #F1F2F4;
  padding-bottom: 150px;
  min-height: calc(100% - 150px);
}

ul, li {
  text-decoration: none;
  list-style-type: none;
}

.title-xl {
  color: #292C33;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
}

.title-l {
  color: #292C33;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
}

.title-m {
  color: #8A9199;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
  text-align: center;
}

.title-s {
  color: #292C33;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.29px;
  line-height: 30px;
}

.link {
  color: #1E477B;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 17px;
}

.btn {
  width: 100%;
  padding: 13px 24px;
  background-color: #1E477B;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 22px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: unset;
}
.btn svg {
  margin-right: 14px;
}

.header {
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.header_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header_top_left {
  display: flex;
  align-items: center;
}
.header_top_left_logo img {
  max-width: 100%;
}
.header_top_left_search {
  margin-left: 30px;
  background-color: #F1F2F4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 20px;
}
.header_top_left_search input {
  width: 100%;
  margin-right: 20px;
  background-color: #F1F2F4;
  border: none;
  outline: none;
  color: #737980;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.header_top_right {
  display: flex;
}
.header_top_right_wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header_top_right_wrapper_data {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.header_top_right_wrapper_data_title {
  color: #8A9199;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}
.header_top_right_wrapper_data_descr {
  color: #292C33;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-top: 2px;
}
.header_bottom {
  box-shadow: inset 0 -1px 0 0 #D6DAE0, inset 0 1px 0 0 #D6DAE0, 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.header_bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_bottom_container_left {
  display: flex;
  align-items: center;
}
.header_bottom_container_left_wrap {
  position: relative;
  display: inline-block;
  z-index: 4;
}
.header_bottom_container_left_wrap_dropbtn {
  padding: 18px 71px 20px 24px;
  background-color: #1E477B;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  border: none;
  cursor: pointer;
}
.header_bottom_container_left_wrap_dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 4;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.header_bottom_container_left_wrap_dropdown-content-wrap_submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  width: 100%;
}
.header_bottom_container_left_wrap_dropdown-content-wrap:hover {
  background-color: #1E477B;
}
.header_bottom_container_left_wrap_dropdown-content-wrap:hover .header_bottom_container_left_wrap_dropdown-content-wrap_submenu {
  display: block;
}
.header_bottom_container_left_wrap_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.header_bottom_container_left_wrap:hover .header_bottom_container_left_wrap_dropdown-content {
  display: block;
}
.header_bottom_container_left_nav ul {
  display: flex;
  padding: 0;
}
.header_bottom_container_left_nav ul li {
  margin-left: 30px;
}
.header_bottom_container_left_nav ul li a {
  color: #292C33;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.header_bottom_container_cart {
  display: flex;
  align-items: center;
}
.header_bottom_container_cart_price {
  display: flex;
  margin-left: 14px;
}
.header_bottom_container_cart_price_currency {
  margin-left: 3px;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.15;
  z-index: 3;
}

.slider {
  width: 100%;
}
.slider .swiper {
  width: 100%;
  height: 100%;
}
.slider .swiper .swiper-slide {
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slider .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .swiper .swiper-slide .container {
  position: absolute;
}
.slider .swiper .swiper-slide .container .slide-descr {
  max-width: 570px;
  color: #1E477B;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
}
.slider .swiper .swiper-slide .container .btn {
  width: 166px;
  margin-top: 30px;
}

.product {
  margin: 60px 0;
}
.product .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .container .cards-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .container .cards-wrapper .link-wrap {
  margin-bottom: 30px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.cards-item {
  width: calc(20% - 8px);
  min-height: 410px;
}
.cards-item-wrap {
  width: 100%;
  height: 100%;
  padding: 10px 10px 30px 10px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  position: relative;
  display: flex;
  flex-direction: column;
}
.cards-item-wrap-img {
  width: 100%;
  position: relative;
}
.cards-item-wrap-img img {
  max-width: 100%;
}
.cards-item-wrap-img .offers {
  position: absolute;
  top: 5px;
  left: 5px;
}
.cards-item-wrap-img .offers-logo {
  padding: 5px 15px 7px 15px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 14px;
}
.cards-item-wrap-img .offers-logo:first-child {
  margin-top: 0;
}
.cards-item-wrap-img .offers .discount {
  background-color: #D91E03;
}
.cards-item-wrap-img .offers .new {
  background-color: #5CC1DE;
}
.cards-item-wrap-img .offers .recommendation {
  background-color: #1E477B;
}
.cards-item-wrap-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cards-item-wrap-info-title {
  margin-top: 20px;
  margin-bottom: 8px;
  color: #8A9199;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 20px;
}
.cards-item-wrap-info-descr {
  max-width: 186px;
  color: #292C33;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-top: 8px;
  flex-grow: 3;
}
.cards-item-wrap-info-wrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.cards-item-wrap-info-wrap-price {
  color: #1E477B;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
}
.cards-item-wrap-info-wrap-old {
  color: #8A9199;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 20px;
  margin-left: 10px;
  text-decoration: line-through;
}
.cards-item-wrap:hover {
  box-shadow: 0 10px 20px 0 rgba(89, 108, 128, 0.15);
}
.cards-item-wrap .btn-wrap {
  width: calc(100% + 2px);
  position: absolute;
  bottom: -57px;
  left: -1px;
  right: -1px;
  padding: 0 10px 20px 10px;
  background-color: #FFFFFF;
  border: 1px solid #D7DAE0;
  border-top: none;
  display: none;
  z-index: 5;
}
.cards-item:hover .btn-wrap {
  display: flex;
  box-shadow: 0 10px 20px 0 rgba(89, 108, 128, 0.15);
}

.discount {
  color: #D91E03;
}

.advantage {
  width: 100%;
}
.advantage .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 11px;
}
.advantage_item {
  width: calc(33.3% - 8px);
  padding: 40px;
  background-color: #1E477B;
}
.advantage_item_title {
  margin-top: 14px;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: -0.29px;
  line-height: 30px;
}
.advantage_item_descr {
  margin-top: 4px;
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}

.info {
  width: 100%;
  background-color: #EDF0F4;
  padding: 80px 0;
}
.info .tabs {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #D7DAE0;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.info .tabs .nav-tabs {
  border-color: #D7DAE0;
  padding-top: 40px;
}
.info .tabs .nav-tabs .nav-link {
  border: none;
  padding: 0 0 19px 0;
  margin-left: 40px;
  color: #5C6166;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.info .tabs .nav-tabs .active {
  border-bottom: 3px solid #5CC1DE;
  color: #1E477B;
  padding-bottom: 16px;
}
.info .tabs .tab-content {
  padding: 30px 40px 40px 40px;
}
.info .tabs .tab-content .tab-pane_title {
  color: #292C33;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
  margin-bottom: 16px;
}
.info .tabs .tab-content .tab-pane_descr {
  color: #5C6166;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 26px;
  margin-bottom: 24px;
}

.partners {
  width: 100%;
  padding: 80px 0;
}
.partners .title-m {
  margin-bottom: 10px;
}
.partners_header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.partners_header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partners_header .swiper-btns {
  position: absolute;
  right: 0;
  display: flex;
}
.partners_header .swiper-btns .swiper-button-next-l {
  margin-right: 38px;
}
.partners .swiper {
  margin-top: 40px;
}
.partners .swiper .swiper-slide {
  height: 120px;
  width: 232px;
  background-color: #EDF0F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  margin-top: 80px;
  padding-top: 63px;
  border-top: 3px solid #5CC1DE;
}
.footer_top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.footer_top_item_title {
  color: #292C33;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 21px;
}
.footer_top_item_menu {
  padding: 0;
  margin-top: 24px;
}
.footer_top_item_menu li {
  margin-top: 10px;
}
.footer_top_item_menu li a {
  color: #5C6166;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 20px;
}
.footer_top_item_menu li:hover a {
  color: #1E477B;
}
.footer_top_item_menu .header_top_right_wrapper {
  margin: 0 0 17px 0;
}
.footer_top_item .social {
  display: flex;
}
.footer_top_item .social li {
  margin: 0 10px 0 0;
}
.footer_data {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  border-top: 1px solid rgba(215, 218, 224, 0.5);
  border-bottom: 1px solid rgba(215, 218, 224, 0.5);
}
.footer_data_payment {
  display: flex;
}
.footer_data_payment_item {
  margin-right: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_data_payment_item img {
  max-width: 84px;
  object-fit: contain;
}
.footer_data_payment_item:last-child {
  margin: 0;
}
.footer_bottom {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}
.footer_bottom #up {
  cursor: pointer;
}
.footer_bottom_item {
  color: #5C6166;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 26px;
  text-align: center;
  display: flex;
  align-items: center;
}
.footer_bottom_item svg {
  margin-right: 13px;
}
.footer_bottom_item_link svg {
  margin: 0 0 0 6px;
}
.footer_bottom_item_link_dots {
  display: flex;
}
.footer_bottom_item_link_dots_dot {
  width: 2px;
  height: 2px;
  margin-right: 6px;
}
.footer_bottom_item_link_dots_dot a {
  display: grid;
  width: 2px;
  height: 2px;
}

.simple-footer {
  margin-top: 0;
  padding: 0;
  border-top: none;
  background-color: #F1F2F4;
}
.simple-footer .footer_bottom {
  padding: 20px 0;
  border-top: 1px solid rgba(214, 217, 224, 0.5);
}

.category {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 120px;
}
.category .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.category_filter {
  width: 23.1%;
}
.category_wrapper {
  width: 74.6%;
}
.category_wrapper_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 16px 0;
  border-bottom: 1px solid rgba(215, 218, 224, 0.7);
}
.category_wrapper_header_title {
  color: #292C33;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
}
.category_wrapper_header_left {
  display: flex;
}
.category_wrapper_header_left_result, .category_wrapper_header_left_filter {
  margin-right: 20px;
  color: #8A9199;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.category_wrapper_header_left_result span, .category_wrapper_header_left_filter span {
  color: #292C33;
}
.category_wrapper_header_left_filter {
  margin-right: 0;
}
.category_wrapper_header_left_filter select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url("../assets/img/icons/ic-dropdown-arrow.svg") no-repeat 100% center;
  padding-right: 12px;
}
.category_wrapper .product {
  margin: 24px 0 44px 0;
}
.category_wrapper .product .cards-item {
  width: calc(25% - 8px);
}
.category_wrapper_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category_wrapper_bottom .pagination {
  column-gap: 3px;
}
.category_wrapper_bottom .pagination .page-item .page-link {
  min-width: 40px;
  min-height: 40px;
  color: #292C33;
  font-size: 15px;
  letter-spacing: -0.4px;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDF0F4;
  border: none;
  border-radius: unset;
}
.category_wrapper_bottom .pagination .page-item .page-link:focus {
  box-shadow: none;
}
.category_wrapper_bottom .pagination .active .page-link {
  background-color: #FFFFFF;
  border: 1px solid #1E477B;
  color: #1E477B;
}
.category_wrapper_bottom .pagination .prev .page-link, .category_wrapper_bottom .pagination .next .page-link {
  background-color: #FFFFFF;
  border: 1px solid #D7DAE0;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  padding: 0 20px;
}
.category_wrapper_bottom .pagination .prev {
  margin-right: 8px;
}
.category_wrapper_bottom .pagination .next {
  margin-left: 8px;
}

.breadcrumb {
  margin-bottom: 24px;
}
.breadcrumb-item {
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.breadcrumb-item a {
  color: #1E477B;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 10px;
}
.breadcrumb-item + .breadcrumb-item:before {
  padding-right: 10px;
  color: #A8B1B9;
}
.breadcrumb .active {
  color: #292C33;
}

.breadcrumb-container {
  padding: 24px 0;
}

.accordion {
  margin-top: 14px;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.accordion * {
  border-radius: unset !important;
}
.accordion:first-child {
  margin-top: 0;
}
.accordion .pb20 {
  padding-bottom: 20px;
}
.accordion .accordion-button {
  max-height: 50px;
  background-color: #292C33;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 20px;
  padding: 15px 24px 15px 24px;
}
.accordion .accordion-button:after {
  background-image: url("../assets/img/icons/ic-arrow-down.svg");
  background-size: auto;
  background-position: center;
  transform: rotate(0);
}
.accordion .accordion-button:focus {
  box-shadow: unset;
}
.accordion .accordion-button:not(.collapsed) {
  box-shadow: unset;
}
.accordion .accordion-button:not(.collapsed):after {
  background-image: url("../assets/img/icons/ic-arrow-up.svg");
}
.accordion .accordion-body {
  padding: 0;
}
.accordion-itemIn {
  border: none;
}
.accordion-itemIn .accordion-button {
  background-color: #FFFFFF;
  color: #5C6166;
  padding: 14px 24px 0 24px;
}
.accordion-itemIn .accordion-button:not(.collapsed) {
  color: #1E477B;
}
.accordion-itemIn .accordion-body {
  padding: 0 24px 0 24px;
  margin-bottom: 10px;
}
.accordion-itemIn .accordion-body ul {
  margin-top: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #D7DAE0;
}
.accordion-itemIn .accordion-body ul li {
  margin-bottom: 10px;
}
.accordion-itemIn .accordion-body ul li a {
  color: #5C6166;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 20px;
  position: relative;
}
.accordion-itemIn .accordion-body ul li a:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  height: 1px;
  width: 10px;
  background-color: #8A9199;
}
.accordion-itemIn .accordion-body ul li a:before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  left: -20px;
  height: 4px;
  width: 2px;
  background-color: #8A9199;
}
.accordion-itemIn:last-child {
  margin-bottom: 10px;
}
.accordion-filter {
  padding-bottom: 20px;
}
.accordion-filter .accordion-button {
  background-color: #FFFFFF;
  color: #292C33;
  border-bottom: 1px solid #D7DAE0;
  padding: 0 0 0 24px;
}
.accordion-filter .accordion-button:after {
  width: 50px;
  height: 50px;
  border-left: 1px solid #D7DAE0;
}
.accordion-filter .accordion-body {
  padding: 24px 24px 0 24px;
}
.accordion .accordion-header {
  position: relative;
  z-index: 1;
}
.accordion .accordion-header .clearBtn {
  content: "x";
  width: 50px;
  height: 50px;
  border-left: 1px solid #D7DAE0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 50px;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}

.filter_logo {
  margin-top: 44px;
  color: #292C33;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 26px;
}
.filter_logo svg {
  margin-right: 10px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #737980;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #1E477B;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #FFFFFF;
  border: 1px solid #D7DAE0;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.checkbox-container .checkmark:after {
  content: url("../assets/img/icons/ic-check.svg");
  position: absolute;
  display: none;
  left: -2px;
  top: -1px;
  width: 5px;
  height: 10px;
}
.checkbox-container .input-error {
  border: 1px solid red;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container:last-child {
  margin-bottom: 0;
}

.wrapper-range {
  position: absolute;
  width: 400px;
  height: 200px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.multi-range-slider {
  position: relative;
  width: 100%;
  height: 20px;
  display: block;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 10;
  height: 100%;
  margin: 0;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  cursor: pointer;
  border: 0 none;
  width: 22px;
  height: 22px;
  background-color: #1E477B;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(38, 152, 217, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-focus-outer {
  border: 0;
}

/* All the same stuff for IE */
input[type=range].hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
}

input[type=range].hover::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
}

input[type=range].hover::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
}

input[type=range].active::-webkit-slider-thumb {
  box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
}

input[type=range].active::-moz-range-thumb {
  box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
}

input[type=range].active::-ms-thumb {
  box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
}

input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range]::-moz-range-track {
  background: transparent;
}

input[type=range]::-ms-track {
  background: transparent;
}

input[type=range]::-ms-fill-lower {
  background: transparent;
}

input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
}

input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}

.slider-range {
  position: absolute;
  width: 100%;
  top: 7px;
  z-index: 1;
  height: 6px;
}

.slider-range > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #EBECEF;
}

.slider-range > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #5CC1DE;
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 20px;
  width: 80%;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-container .input-wrap {
  width: calc(50% - 5px);
}
.input-container .input-wrap span {
  color: #737980;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.input-container .input-wrap input {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 14px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  color: #333333;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.input-container .input-wrap input::-webkit-outer-spin-button, .input-container .input-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.productInfo {
  width: 100%;
}
.productInfo .container {
  display: flex;
  justify-content: space-between;
}
.productInfo_left {
  width: 40.2%;
}
.productInfo_right {
  width: 57.2%;
}
.productInfo_right_title {
  color: #292C33;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
}
.productInfo_right_code {
  margin-top: 10px;
  color: #5C6166;
  font-size: 12px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.productInfo_right_descr {
  color: #5C6166;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-top: 20px;
}
.productInfo_right_buy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 30px 0;
  border-top: 1px solid #D7DAE0;
  border-bottom: 1px solid #D7DAE0;
}
.productInfo_right_buy_price .cards-item-wrap-info-wrap-old {
  margin: 0 0 2px 0;
}
.productInfo_right_buy_control {
  display: flex;
  align-items: center;
}
.productInfo_right_buy_control-quant {
  display: flex;
  align-items: center;
}
.productInfo_right_buy_control-quant span {
  margin-right: 2px;
}
.productInfo_right_buy_control-quant-btns {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.productInfo_right_buy_control-quant-btns-btn {
  height: 50px;
  width: 50px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.productInfo_right_buy_control-quant-btns-btn:last-child {
  border-left: none;
}
.productInfo_right_delivery {
  display: flex;
  justify-content: space-between;
}
.productInfo_right_delivery_half_title {
  color: #292C33;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 26px;
}
.productInfo_right_delivery_half_item {
  display: flex;
  align-items: center;
  margin-top: 14px;
  min-width: 320px;
}
.productInfo_right_delivery_half_item_wrap {
  margin-left: 20px;
}
.productInfo_right_delivery_half_item_wrap_title {
  color: #292C33;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 20px;
}
.productInfo_right_delivery_half_item_wrap_bottom {
  display: flex;
  align-items: center;
}
.productInfo_right_delivery_half_item_wrap_bottom_left {
  color: #5C6166;
  font-size: 12px;
  letter-spacing: -0.4px;
  line-height: 18px;
}
.productInfo_right_delivery_half_item_wrap_bottom_border {
  margin: 0 8px;
  height: 14px;
  width: 1px;
  background-color: #D9D9D9;
}
.productInfo_right_delivery_half_item_wrap_bottom_right {
  color: #008C5E;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 18px;
}

.notification {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border: 1px solid #D7DAE0;
  box-shadow: 0 -3px 3px 0 rgba(89, 108, 128, 0.04);
  z-index: 10;
}
.notification:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23%;
  bottom: 0;
  background-color: #1E477B;
}
.notification .container {
  display: flex;
  justify-content: space-between;
}
.notification_left {
  display: flex;
  align-items: center;
  width: 23%;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 26px;
  background-color: #1E477B;
  position: relative;
}
.notification_left:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  background-color: #1E477B;
}
.notification_right {
  width: 74.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.notification_right_info {
  display: flex;
  align-items: center;
}
.notification_right_info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.notification_right_info_wrap {
  margin-left: 20px;
}
.notification_right_info_wrap_title {
  color: #292C33;
  font-size: 15px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.notification_right_info_wrap_quant {
  color: #5C6166;
  font-size: 13px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.notification_right_info_wrap_quant span {
  margin: 0 2px;
}
.notification_right_buy {
  display: flex;
  align-items: center;
}
.notification_right_buy_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.notification_right_buy_wrap .cards-item-wrap-info-wrap-old {
  margin: 0;
}
.notification_right_buy_link {
  margin-left: 30px;
}

.cardPage {
  width: 100%;
  background-color: #F1F2F4;
}
.cardPage .container {
  display: flex;
  justify-content: space-between;
}
.cardPage-left {
  width: 74.3%;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  padding: 50px;
}
.cardPage-left_title {
  color: #292C33;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.29px;
  line-height: 30px;
}
.cardPage-left-content {
  display: flex;
  flex-direction: column;
}
.cardPage-left-content-item {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.cardPage-left-content-item-info {
  display: flex;
  align-items: center;
}
.cardPage-left-content-item-info-img {
  height: 70px;
  width: 70px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardPage-left-content-item-info-img img {
  max-width: 100%;
}
.cardPage-left-content-item-info-wrap {
  margin-left: 20px;
}
.cardPage-left-content-item-info-wrap_title {
  color: #292C33;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.cardPage-left-content-item-info-wrap_code {
  color: #5C6166;
  font-size: 12px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.cardPage-left-content-item-data {
  display: flex;
  align-items: center;
}
.cardPage-left-content-item-data-quant {
  color: #292C33;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 26px;
  text-align: right;
  margin-right: 20px;
}
.cardPage-left-content-item-data-btns {
  display: flex;
  column-gap: 4px;
}
.cardPage-left-content-item-data-btns_btn {
  height: 40px;
  width: 40px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardPage-left-content-item-data-price {
  margin-left: 20px;
}
.cardPage-left-content-item-data-price .cards-item-wrap-info-wrap-old {
  margin: 0;
}
.cardPage-left-content-item-data-remove {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: unset;
  margin-left: 20px;
}
.cardPage-left-content-item-data-remove:hover {
  border: 1px solid #D7DAE0;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  border-radius: 50%;
}
.cardPage-left-content-item-data-remove:hover .clear {
  fill: #D91E03;
}
.cardPage-left-discount {
  margin-top: 30px;
  width: 100%;
  padding: 30px;
  background-color: #F1F2F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardPage-left-discount-title {
  color: #292C33;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 22px;
  text-transform: uppercase;
}
.cardPage-left-discount-wrap {
  display: flex;
  align-items: center;
}
.cardPage-left-discount-wrap input {
  height: 40px;
  padding: 9px 20px;
  min-width: 210px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  outline: none;
  margin-right: 10px;
}
.cardPage-left-discount-wrap button {
  height: 40px;
  padding: 9px 20px 11px 20px;
  color: #FFFFFF;
  background-color: #292C33;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 20px;
  text-align: center;
  border: none;
}
.cardPage-right {
  width: 23%;
}
.cardPage-right .cardPage-right-wrap {
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  padding: 30px;
  position: relative;
}
.cardPage-right .cardPage-right-wrap:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 3px;
  background-color: #1E477B;
}
.cardPage-right_title {
  color: #292C33;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.cardPage-right_content {
  margin-top: 14px;
}
.cardPage-right_content_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.cardPage-right_content_item_title {
  color: #5C6166;
  font-size: 14px;
  letter-spacing: -0.37px;
  line-height: 22px;
}
.cardPage-right_content_item_sum {
  color: #1E477B;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 22px;
  text-align: right;
}
.cardPage-right_content_item_sum span {
  margin-right: 2px;
}
.cardPage-right_bottom {
  margin-top: 20px;
  padding-top: 21px;
  border-top: 1px solid #D7DAE0;
}
.cardPage-right_bottom .result-sum {
  font-size: 21px;
  font-weight: bold;
}
.cardPage-right_bottom .btn {
  margin-top: 18px;
}

.form-container {
  padding-top: 60px;
}

.form {
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  padding: 50px;
}
.form_title {
  color: #292C33;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 42px;
}
.form_descr {
  color: #737980;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-top: 10px;
}
.form_descr a {
  color: #1E477B;
}
.form-error {
  width: 100%;
  height: 50px;
  color: #CC1433;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
  background-color: rgba(204, 20, 51, 0.1);
  padding: 13px 24px 15px 24px;
  margin-top: 20px;
}
.form-content {
  margin-top: 30px;
}
.form-content-person {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}
.form-content-wrap {
  color: #737980;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-bottom: 20px;
}
.form-content-wrap input, .form-content-wrap select {
  height: 50px;
  margin-top: 8px;
  width: 100%;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  padding: 13px 24px 15px 24px;
  outline: none;
}
.form-content-wrap input.input-error, .form-content-wrap select.input-error {
  border: 1px solid red;
}
.form-content-wrap input.input-error:focus, .form-content-wrap select.input-error:focus {
  border: 1px solid red;
}
.form-content-wrap .error-message {
  line-height: 30px;
  color: #CC1433;
  font-size: 13px;
}
.form-content-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../assets/img/icons/ic-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) center;
}
.form-content-wrap select:invalid {
  color: #737980;
}
.form-content-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content-bottom .checkbox-container a {
  color: #1E477B;
}
.form-content-bottom .checkbox-container .error-message {
  color: #CC1433;
  font-size: 13px;
}
.form-content-bottom .auth-check {
  color: #292C33;
  font-size: 14px;
  margin-bottom: 0;
}
.form-content-bottom-link {
  color: #737980;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.form-content .btn {
  margin-top: 30px;
}
.form-content .req {
  color: #CC1433;
}
.form .register {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.form .register .form-content-wrap {
  width: calc(50% - 5px);
}

.form-content-person input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.form-content-person label {
  width: 50%;
  display: inline-block;
  border-bottom: 2px solid #DFE2E6;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 19px;
  color: #737980;
}

.form-content-person input[type=radio]:checked + label {
  border-bottom: 3px solid #5CC1DE;
  color: #1E477B;
}

.title-xl {
  padding-top: 50px;
}

.auth {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.auth-left {
  width: 48.7%;
}
.auth-left .form-content {
  margin-top: 20px;
}
.auth-left .form-content-wrap {
  margin-bottom: 10px;
}
.auth-left .form-content-wrap input {
  margin-top: 0;
}
.auth-left .form-content .btn {
  margin-top: 20px;
}
.auth-right {
  width: 48.7%;
}
.auth-right-descr {
  margin-top: 10px;
  color: #5C6166;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.auth-right .link-wrap {
  margin-top: 20px;
}
.auth-right .link-wrap .btn {
  background-color: #292C33;
}

.done-wrap {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.done-wrap-descr {
  color: #5C6166;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
  text-align: center;
  max-width: 570px;
  margin: -15px 0 30px 0;
}
.done-wrap .title-s {
  margin: 30px 0;
}

.delivery {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.delivery-left {
  width: 65.8%;
}
.delivery-left .form-content {
  margin: 0;
}
.delivery-left-group {
  padding-bottom: 40px;
  margin-bottom: 32px;
  border-bottom: 1px solid #D7DAE0;
}
.delivery-left-group .title-s {
  margin-bottom: 20px;
}
.delivery-left-group-radio {
  width: 100%;
  display: flex;
  column-gap: 10px;
}
.delivery-left-group-radio input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.delivery-left-group-radio input[type=radio]:checked + label {
  border-color: #1E477B;
}
.delivery-left-group-radio input[type=radio]:checked + label:after {
  background-color: #1E477B;
  content: url("../assets/img/icons/ic-check.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
}
.delivery-left-group-radio label {
  width: calc(33.3% - 7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  min-height: 168px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 22px;
  text-transform: uppercase;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  cursor: pointer;
  position: relative;
}
.delivery-left-group-radio label svg {
  margin-bottom: 24px;
}
.delivery-left-group-radio label span {
  color: #5C6166;
  text-transform: lowercase;
}
.delivery-left-group-radio label:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  height: 22px;
  width: 22px;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
}
.delivery-left-group .payment {
  flex-direction: column;
  row-gap: 10px;
}
.delivery-left-group .payment input:checked + label {
  color: #1E477B;
  font-weight: 500;
}
.delivery-left-group .payment label {
  max-height: 68px;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: unset;
  padding: 19px 24px 19px 60px;
  min-height: unset;
  text-transform: unset;
  font-weight: 400;
}
.delivery-left-group .payment label:after {
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.delivery-left-group .payment label svg {
  margin: 0;
}
.delivery-left-group .tabs {
  border: 1px solid #D7DAE0;
}
.delivery-left-group .tabs .nav-link {
  width: calc(50% - 1px);
  border: none;
  border-radius: unset;
  background-color: #F1F2F4;
  color: #737980;
  font-size: 14px;
  letter-spacing: -0.4px;
  line-height: 22px;
  text-align: center;
  padding: 13px 0 15px 0;
  border-bottom: 1px solid #D7DAE0;
  transition: none;
}
.delivery-left-group .tabs .border {
  height: 50px;
  width: 1px;
  background-color: #D7DAE0;
}
.delivery-left-group .tabs .active {
  background-color: #FFFFFF;
  color: #1E477B;
  font-weight: 500;
  border-bottom: none;
}
.delivery-left-group .tabs .tab-content {
  padding: 30px;
}
.delivery-left-group .tabs .register-step .form-content-wrap:nth-child(3) {
  width: 100%;
}
.delivery-left-group-change {
  margin-top: 30px;
}
.delivery-left-group-change-title {
  margin-bottom: 20px;
  color: #8A9199;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 30px;
}
.delivery-left-group-change-address {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.delivery-left-group-change-address .form-content-wrap:nth-child(-n+3) {
  width: calc(33.3% - 7px);
}
.delivery-left-group-change-address .form-content-wrap:nth-child(4) {
  width: calc(50% - 7px);
}
.delivery-left-group-change-address .form-content-wrap:nth-child(n+5):nth-child(-n+6) {
  width: calc(25% - 7px);
}
.delivery-left .form-content-bottom label {
  font-size: 14px;
}
.delivery-right {
  width: 31.6%;
  position: relative;
}
.delivery-right .form {
  padding: 30px;
}
.delivery-right-title {
  color: #282C33;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.delivery-right-content {
  margin-top: 17px;
}
.delivery-right-content-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 12px;
  border-bottom: 1px solid #D7DAE0;
}
.delivery-right-content-item-left-title {
  color: #5C6166;
  font-size: 14px;
  letter-spacing: -0.37px;
  line-height: 22px;
}
.delivery-right-content-item-left-quant {
  color: #5C6166;
  font-size: 12px;
  letter-spacing: -0.43px;
  line-height: 20px;
  margin-top: 2px;
}
.delivery-right-content-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.delivery-right-content-item-right .cards-item-wrap-info-wrap-price {
  font-size: 14px;
  color: #5C6166;
}
.delivery-right-content-item-right .discount {
  color: #D91E03;
}
.delivery-right-content-item-right .cards-item-wrap-info-wrap-old {
  margin: 0;
  font-size: 11px;
}
.delivery-right-total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.delivery-right-total-item-title {
  color: #292C33;
  font-size: 14px;
  letter-spacing: -0.37px;
  line-height: 22px;
}
.delivery-right-total-item-price {
  color: #292C33;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.37px;
  line-height: 22px;
  text-align: right;
}
.delivery-right-sum {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 19px;
  padding-top: 17px;
  border-top: 3px solid #5CC1DE;
}
.delivery-right .result-sum {
  font-size: 21px;
}
.delivery-right-link {
  margin-top: 23px;
}
.delivery-right-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E477B;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 22px;
}
.delivery-right-link a svg {
  margin-right: 8px;
}
.delivery-right:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 3px;
  background-color: #1E477B;
}

.swiper {
  width: 100%;
  height: 100%;
  max-width: 470px;
  max-height: 470px;
}

.swiper-container-main {
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  padding: 10px !important;
}

.swiper-slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.gallery-thumbs .swiper-slide img:hover, .swiper-slide img:hover {
  cursor: pointer;
}

/* ............................................... thumbs .......................................................... */
.gallery-thumbs {
  height: 100%;
  max-height: 70px;
  margin-top: 10px;
}

.gallery-thumbs .swiper-slide {
  width: 70px;
  height: 100%;
  border: 1px solid #D7DAE0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 3px 0 rgba(89, 108, 128, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-thumbs .swiper-slide-thumb-active {
  border-color: #1E477B;
}

.gallery-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ................................................ modal .......................................................... */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.modal-content {
  background-color: rgba(41, 44, 51, 0.9);
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 300px;
  animation-name: modalOpen;
  animation-duration: 1s;
}

.closeBtn {
  position: absolute;
  z-index: 4;
  color: white;
  right: 5px;
  font-size: 30px;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ............................................. modal swiper gallery ....................................................... */
#swiper-container-modal {
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  border: 0;
}

.swiper-slide-modal {
  height: 100vh;
}

.swiper-lazy-modal {
  object-fit: contain;
  border: 0;
}

/*# sourceMappingURL=main.css.map */
